*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

// Top-Navbar
.navbar-toggler:focus{
   box-shadow: none;
}
.navbar .container-fluid{
   justify-content: center;
}

.banner{
   position: relative;
   background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pijatTangan.jpg");
   background-attachment: fixed;
   background-size:cover;
   background-position: 0 -50px;

   text-align: center;
   box-shadow: 0px 15px 10px -15px #111; 
   border-bottom: 6px solid #0EB956;
   color: white;

   .container{
      padding-top: 5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align:center;
      
      .brand{
         margin: 8em 0 10em 0;
         .title{
            font-weight: 300;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
         }
         .caption{
            font-weight: 300;
            margin-bottom: 1em;
            letter-spacing: 1px;
         }
         a{
            background-color:  transparent;
            color: white;
            border: 2px solid whitesmoke;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            transition: all .3s linear;
            font-size: 23px;
            padding: 10px 25px;
            margin-bottom: 5em;

         }
         a:hover{
            background-color:  #25d366;
            border:2px solid #25d366;
            color: white;
         }
      }

      .banner-text{
         width: 70%;
         border-bottom: 2px solid rgba(251, 255, 0, 0.5);

      }

      .top-nav{
         
         .navbar{
            a{
               padding:5px 40px 20px 40px;
               font-size: 1.5em;
               transition: all 0.3s linear;
            }

            a:hover{
               color: #14FF77;
            }
         }
         
         .navbar-toggler{
            border: none;
            padding: 5px 0 10px 0;
         }
         

         .toggle-menu{
            color: yellow;
            border: none;
            letter-spacing:3px;
            font-size: 1.3em;
         }
         
         .active{
            color: white;
            text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
         }
      }
   }
}

.banner::before{
   content: '';
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-top: 10px solid #0EB956;
   border-right: 10px solid transparent;
   left: 50%;
   bottom: -16px;
   position: absolute;
}


// welcome
.welcome {
   text-align: center;
   margin-top: 7em;

   .judul{
      h1{
         color: #09E466;
         font-weight: 500;
         margin-bottom: .5rem;
      }
      p{
         color: #555;
         margin-bottom: 1em;
      }
   }
}