// responsive

@media(min-width:768px) and (max-width: 1023px) {
   .welcome{
      .profile{
         height:30em;
         margin-bottom: 2em;
      }
   }

}

@media screen and (max-width: 768px){
   .banner{
      background-position: -700px -100px !important;
      background-size: auto;
      .container{     
         .brand{
            margin: 5.5em 0 0 0;
            .title{
               font-size: 4em;
            }

         }
         .btn{
            margin-bottom: 2.5em !important;
            font-size: 1.5em !important;
            padding: 8px 20px !important;
         }    
         .nav-link{
            font-size: 22px !important;
         }
      }
   }

   .welcome{
      .profile{
         height:30em;
         margin-bottom: 2em;
      }
   }

   .parallax{
      background-position: 50% -5% !important;
      h1{
         font-size:3em !important;
      }
   }

   .welcome{
      .judul{
         h1{
            font-size: 2em;
            margin-bottom: 1em;
         }
         .capt{
            font-size: 20px !important;
            margin-bottom: 1em;
         }
      }
      .row.penyakit{
         flex-direction: column !important;
      }
   }

   .kontak-layanan{
      .container{
         a{
            font-size: 20px;
         }
      }
   }

   .kontak{
      background-position: -450px 0px !important;
      background-size: auto !important;
      h1{
            font-size: 3.5em !important;
            margin-bottom: .5em !important;
         }
      .location{
         font-size: 20px !important;
         span{
            padding-left: 5px !important;
         }
      }
   }

   footer{
      .row{
         flex-direction: column;
         .col{
            font-size: 16px !important;
         }
         .brand{
            margin-bottom: 15px;
         }
         .menu{
            margin-bottom: 20px;
            ul{
               padding: 0;
               li{
                  padding:0 5px;
                  a{
                     font-size: 16px !important;
                     opacity: 1;
                  }
               }
            }
         }
         .cr{
            font-size:12px;
         }
      }
   }
}

// Banner text animation
@keyframes animate {
   0%{
      opacity: 0;
      transform: translateY(-50px);
   }
   2%{
      opacity: 1;
      transform: translateY(0px);
   }
   18%{
      opacity: 1;
      transform: translateY(0px);
   }
   20%{
      opacity: 0;
      transform: translateY(50px);
   }
   100%{
      opacity: 0;
      transform: translateY(50px);
   }
}