
// Testimoni
.testimoni{
   text-align: center;
   padding: 4.5em 0 4em 0;

   .judul{
      h1{
         color: #0cca4a;
         font-weight: 500;
         margin-bottom: .5rem;
      }
      p{
         color : #555;
      }
   }

   .testimonial {
      margin: 0 20px 40px;
      
   }
   .testimonial .testimonial-content {
      padding: 20px 20px 0px 40px;
      background: #eee;
      position: relative;
      border-top-right-radius:5px;
      border-top-left-radius:5px;
   }
   .testimonial-content .testimonial-icon {
      width: 50px;
      height: 45px;
      background: #05a739;
      text-align: center;
      font-size: 22px;
      color: #fff;
      line-height: 42px;
      position: absolute;
      top: 37px;
      left: -19px;
   }
   .testimonial-content .testimonial-icon:before {
      content: "";
      border-bottom: 16px solid #05a739;
      border-left: 18px solid transparent;
      position: absolute;
      top: -16px;
      left: 1px;
   }
   .testimonial .description {
      font-size: 18px;
      font-weight: 500;
      font-style: italic;
      color: #555;
      line-height: 23px;
      margin: 0;
      padding-bottom: 1rem;
   }
   .testimonial .title {
      display: block;
      font-size: 22px;
      font-weight: 700;
      color: white;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: 0 0 5px 0;
   }
   .testimonial .post {
      display: block;
      font-size: 16px;
      color: white;
   }
   .owl-theme .owl-controls {
      margin-top: 20px;
   }

   .writter{
      padding: .8rem 0;
      background-color: #05a739;
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
      h3{
         margin: 0 !important;
      }
   }
   
   .no-js .owl-carousel, .owl-carousel.owl-loaded {
      display: block;
      position: relative;
   }

   .owl-nav{
      position: absolute;
      width: 100%;
      top: 0;

         .owl-prev,.owl-next{
            margin: 0 !important;
         span{
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            font-size: 7em;
            color: #FF7F4F;
            transition: all .3s linear;

         }
      }
      .owl-prev,.owl-next{
            span:hover{
               text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
               font-size: 8em;
               color: #c75228;
         }
      }

      .owl-prev{
         position: absolute;
         left: 0;
         transform: translate(-50px, -22px) !important;
      }
      .owl-next{
         position: absolute;
         right: 0;
         transform: translate(40px, -22px) !important;
      }
   }
   .owl-theme .owl-nav [class*=owl-]:hover{
      background-color:  transparent;
      
   }

   .owl-theme .owl-dots .owl-dot span{
      width:12px;
      height:12px;
      background-color: rgba(255, 127, 79,.3);
   }
   .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
      background-color: #ff8f66;
   }
}